.footer{
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    line-height: 40px;
}
.footer .container{
    line-height: 25px;
}

h1{
    padding-top: 5%;
}
.text-muted{
    color: #6c757d!important;
    padding-top: 5%;
    font-weight: 400;
}