$secondaryC: #363a45;
$accentC: #6d72ed;
$containerC: rgb(196, 196, 196, 0.33);
$itemC: #c4c4c4;

@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400,500&display=swap");

* {
  font-family: "Fire Sans Condensed", sans-serif;
}

.header-banner {
  background-color: $secondaryC;
  height: 150px;
  border-bottom: 4pt $accentC solid;
  .admin-header {
    max-width: 1000px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    .add-container {
      height: 60px;
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      outline: none;
      cursor: grab;
      svg {
        animation: adding 1.5s ease-in-out;
        height: 60px;
        width: 60px;
      }
      animation: logo-drop 1.5s;

      transition: all 0.8s;
      &:hover {
        svg {
          height: 57px;
          width: 57px;
          fill: $accentC;
          cursor: grab;
          path {
            box-shadow: 2pt solid black;
          }
        }
      }
    }

    .admin-showcase {
      height: 50px;
      width: 100px;
      text-align: center;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 4px solid $accentC;
      border-radius: 5px;

      &:hover {
        cursor: grab;
        .admin-lable {
          display: none;
        }

        .sign-out {
          display: inline;
        }
      }

      .sign-out {
        height: 25px;
        transform: rotate(-180deg);
        display: none;
      }

      animation: logo-drop 1.5s ease;

      .admin-lable {
        height: fit-content;
        font-weight: 500;
        font-size: 16pt;
      }
    }
  }

  .logo {
    position: absolute;
    right: 50%;
    transform: translate(50%);
    line-height: 150px;
    text-decoration: none;
    outline: none;
    cursor: grab;

    animation: logo-drop 1.5s;
    span {
      font-size: 60pt;
      color: white;
      text-shadow: 4pt 0 $accentC;
      transition: transform 0.5s, color 0.5s, text-shadow 0.1s;

      &:hover {
        color: $accentC;
        text-shadow: 4pt 0 white;
      }
    }
  }
}

@keyframes logo-drop {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes adding {
  100% {
    transform: rotate(360deg);
  }
}

.background {
  height: fit-content;
  min-height: 90%;
  width: 100%;
  background-color: #f8f8f8;
}

.admin-spacing {
  max-width: 1000px;
  width: 1000px;
  margin: 0 auto;
  margin-top: 25px;
  height: fit-content;
}
