<app-header></app-header>
<div class="landing-page">
  <h1 class="lh1">MoMae</h1>
</div>
<div class="row">
  <div class="card" (click)="showDetails()">
    <img src="assets/Nike.jpg" width="300" height="200" />
    <div class="card-body">
      <h5 class="card-title">Nike Schuh</h5>
      <p class="card-text">2000.-</p>
      <button class="btn btn-primary btn-block" (click)="addToCart()">
        Add to card
      </button>
      <ng-template #updateQuantity>
        <!-- loading -->
      </ng-template>
    </div>
  </div>

  <div class="card">
    <img src="assets/Adidas.jpg" width="300" height="200" />
    <div class="card-body">
      <h5 class="card-title">Adidas Schuh</h5>
      <p class="card-text">4000.-</p>
      <button class="btn btn-primary btn-block" (click)="addToCart()">
        Add to card
      </button>
      <ng-template #updateQuantity>
        <!-- loading -->
      </ng-template>
    </div>
  </div>
</div>
<div class="card">
  <img src="../../assets/Nike.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Nike Air Force</h5>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
</div>
<app-footer></app-footer>
