.landing-page {
    height: 100vh;
    background-color: whitesmoke;
}

.lh1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20vh;
    font-family: Verdana, sans-serif;
}

/* style the card */
.card {
    width: 320px;
    border: none;
    background-color: white;
    padding: 8px 8px 8px 8px;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 20px;
    transition: all 0.5s ease;
    .card-body{
        width: 320px;
        background-color:white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}
.card:hover {
    width: 320px;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* remove padding from buttons */
.card-footer {
    padding: 0;
}

/* remove rounded corners from buttons */
.btn {
    border-radius: 0 !important;
    background-color: whitesmoke;
    border-color: lightgray;
    color: grey;
    border-radius: 25%;
}
