.landing-page {
    height: 100vh;
    background-color: whitesmoke;
}

.lh1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20vh;
    font-family: Verdana, sans-serif;
}