/* style the card */
.card {
    width: 320px;
    background-color: lightgray;
    padding: 8px 8px 8px 8px;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 20px;
    .card-body{
        width: 300px;
        background-color:lightgray;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}



/* remove padding from buttons */
.card-footer {
    padding: 0;
}

/* remove rounded corners from buttons */
.btn {
    border-radius: 0 !important;
}
