<h2>Artikel Bearbeiten</h2>

<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputTitel">Titel</label>
      <input
        [(ngModel)]="article.titel"
        type="text"
        class="form-control"
        name="inputTitel"
      />
    </div>
  </div>
  <div class="form-group">
    <label for="inputBeschreibuung">Beschreibung</label>
    <input
      [(ngModel)]="article.beschreibung"
      type="text"
      class="form-control"
      name="inputBeschreibung"
    />
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="inputMenge">Menge</label>
      <input
        [(ngModel)]="article.menge"
        type="number"
        class="form-control"
        name="inputMenge"
      />
    </div>
    <div class="form-group col-md-2">
      <label for="inputPreis">Preis</label>
      <input
        [(ngModel)]="article.preis"
        type="number"
        class="form-control"
        name="inputPreis"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputArtikel">Artikel</label>
      <input
        [(ngModel)]="id"
        type="text"
        class="form-control"
        name="inputArtikel"
        readonly
      />
    </div>
  </div>
  <div class="mt-3"></div>
  <div class="button" (click)="changeArticle()">
    <div class="button-block">
      <span class="button-text">Ändern</span>
    </div>
  </div>
</form>
